// compileCompressed, compressedFilenamePattern: ../css/style.css
.nav-wrapper
  padding: 0 3% 0 3%

#my-logo
  padding: 2%

#skills,
#about,
#contact,
#my-work
  padding: 5% 0

#hero-img
  img
    height: auto
    width: 100vw
    background-size: cover
    background-position: center

#profile
  max-height: 60vh

#my-work
  .tileblocks
    margin: 0
    padding: 0
    text-align: center

    .wrapper
      display: inline-block
      max-height: 100%
      margin: -2px
      position: relative
      width: 33vw
      border: 0

    .wrapper span.text-content
      background: rgba(0,0,0,0.5)
      color: white
      cursor: pointer
      display: table
      height: 43.5vh
      left: 0
      position: absolute
      top: 0
      width: 33vw
      opacity: 0
      bottom: 0

      &:hover
        opacity: 1


    span.text-content
      span
        display: table-cell
        text-align: center
        vertical-align: middle
        height: 100%

    img
        max-width: 33vw
        margin-bottom: -1vh
        position: relative
        display: inline-block
        max-width: 33vw
        border: 0

        &:hover
          background: #333
          opacity: .4


  .normalcards
  .smallcards

  .largecards

.btn-pad
  padding: 1% 0
