//output:index.html
doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Bubba's Pallet Works
        link(type="text/css" rel="stylesheet" href="css/mat.css")
        link(type="text/css" rel="stylesheet" href="css/style.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet")
        script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
        script(type="text/javascript" src="js/materialize.min.js")
        script(type="text/javascript" src="js/index.js")

    body
        div.navbar-fixed
            nav.brown.lighten-2
                div.nav-wrapper
                    a(href="#" class="brand-logo" id="resume").black-text Bubba's Pallet Works
                    a(href="#" data-activates="mobile-demo" class="button-collapse")
                        i.material-icons menu
                    ul.right.hide-on-med-and-down
                        li
                            a(href="#about").black-text About
                        li
                            a(href="#puchasing").black-text How to buy
                        li
                            a(href="#my-work").black-text My Work
                        li
                            a(href="#contact").black-text Contact
                    ul(class="side-nav" id="mobile-demo")
                        li
                            a(href="#about").black-text About
                        li
                            a(href="#puchasing").black-text How to buy
                        li
                            a(href="#my-work").black-text My Work
                        li
                            a(href="#contact").black-text Contact
            //-
                hero image

        div#hero-img
            div.slider.fullscreen
                ul.slides
                    li
                        img(src="img/dex-chair.JPG").responsive-img
                        div.caption.center-align
                            h3 Bubba's Pallet Works
                            h5.light.grey-text.text-lighten-2 Building rustic furniture and decor from reclaimed wood
                            a.btn.waves-effect.white.grey-text.darken-text-2 Button
                    li
                        img(src="img/welcome.JPG")
                        div.caption.right-align
                            h3 Bubba's Pallet Works
                            h5.light.grey-text.text-lighten-3
                            a.btn.waves-effect.white.grey-text.darken-text-2 Button
                    li
                        img(src="img/plantholder.JPG")
                        div.caption.center-align
                            h3 Bubba's Pallet Works
                            h5.light.grey-text.text-lighten-3
                            a.btn.waves-effect.white.grey-text.darken-text-2 Button

            //div(class="carousel carousel-slider center" id="carousel-splash" data-indicators="true")
            //  div.carousel-fixed-item.center
            //    a.btn.waves-effect.white.grey-text.darken-text-2#carousel-button Button
            //  div.carousel-item.white-text#one
            //    h1 Bubba's Pallet Works
            //    p this is text
            //  div.carousel-item.white-text#two
            //    h2 Hello
            //    p this is text
        br
        div#puchasing
            br
            div.container
                div.row
                    h3.center-align.col.s6 How to order
                    h3.center-align.col.s6 Custom Orders
                    div.divider
                    div.col.s6
                        p Everything seen here is available for purchase and new items are added often.
                        P Each item is hand made upon order and can be customized upon request.
                        P To place an order for something you see here, send me an email with the name of item you would like and we can discuss a delivery date. New requests are being placed daily and delivery times may vary.
                    div.col.s6
                        p Have an idea for an item but don't see it here? Send us an email! Custom built furniture and decor are being sent out all the time
                        div.btn-pad
                            a(href="mailto:bubbapalletworks@gmail.com").btn.grey.darken-4 Email
                                i.material-icons.right email

        div#my-work

            div.row.hide-on-large-only
                div.col.s12.m4
                    div.card.normalcards
                        div.card-image
                            img(src="img/america.JPG")
                            span.card-title American Flag
                        div.card-content $20

                    div.card.normalcards
                        div.card-image
                            img(src="img/chair.JPG")
                            span.card-title Porch Chairs and End Tables
                        div.card-content $50

                    div.card.normalcards
                        div.card-image
                            img(src="img/cokesign.JPG")
                            span.card-title Coca-Cola
                        div.card-content $20

                    div.card.normalcards
                        div.card-image
                            img(src="img/feather.JPG")
                            span.card-title Feather Art
                        div.card-content $75
                    
                    div.card.normalcards
                        div.card-image
                            img(src="img/metal-feather.JPG")
                            span.card-title Feather Art Single
                        div.card-content $20

                    div.card.normalcards
                        div.card-image
                            img(src="img/pool.JPG")
                            span.card-title Pool Coat Rack
                        div.card-content $50

                    div.card.normalcards
                        div.card-image
                            img(src="img/large-clothspin.JPG")
                            span.card-title Large Clothspin Hanger
                        div.card-content $20

                div.col.s12.m2
                    div.card.smallcards
                        div.card-image
                            img(src="img/hanger.JPG")
                            span.card-title Coat Hanger
                        div.card-content $20

                    div.card.smallcards
                        div.card-image
                            img(src="img/hangerwelcome.JPG")
                            span.card-title Lantern Holder
                        div.card-content $60

                    div.card.smallcards
                        div.card-image
                            img(src="img/lantern.JPG")
                            span.card-title Wall Hanger I
                        div.card-content $15

                    div.card.smallcards
                        div.card-image
                            img(src="img/lanterncover.JPG")
                            span.card-title Wall Hanger II
                        div.card-content $20

                    div.card.smallcards
                        div.card-image
                            img(src="img/smith.JPG")
                            span.card-title Smith & Wesson
                        div.card-content $20

                    div.card.smallcards
                        div.card-image
                            img(src="img/donttread.JPG")
                            span.card-title Dont Tread On Me
                        div.card-content $20
                    div.card.smallcards
                        div.card-image
                            img(src="img/box-hanger.JPG")
                            span.card-title Picture Frame Hanger
                        div.card-content $60

                    div.card.smallcards
                        div.card-image
                            img(src="img/ribbon-hanger.JPG")
                            span.card-title Ribbon Clip Picture Frame
                        div.card-content $15

                    div.card.smallcards
                        div.card-image
                            img(src="img/lantern-hook.JPG")
                            span.card-title Lantern Holder
                        div.card-content $20

                    div.card.smallcards
                        div.card-image
                            img(src="img/clothspin-hanger.JPG")
                            span.card-title Clothspin Hanger
                        div.card-content $20

                    div.card.smallcards
                        div.card-image
                            img(src="img/small-shelf.JPG")
                            span.card-title Shelf
                        div.card-content $20

                div.col.s12.m6
                    div.card.largecards
                        div.card-image
                            img(src="img/plantholder.JPG")
                            span.card-title Planter
                        div.card-content $35

                    div.card.largecards
                        div.card-image
                            img(src="img/skull.JPG")
                            span.card-title Wall Art
                        div.card-content $65

                    div.card.largecards
                        div.card-image
                            img(src="img/welcome.JPG")
                            span.card-title Welcome Hanger
                        div.card-content $35
                        
                    div.card.largecards
                        div.card-image
                            img(src="img/island.JPG")
                            span.card-title Island
                        div.card-content $65

                    div.card.largecards
                        div.card-image
                            img(src="img/end-table.JPG")
                            span.card-title End Table
                        div.card-content $35

            div.tileblocks.hide-on-med-and-down
                div.wrapper
                    img(src="img/america.JPG")
                    span.text-content
                        span American Flag
                            br
                            $20


                div.wrapper
                    img(src="img/chair.JPG")
                    span.text-content
                        span Porch Chairs and End Tables
                            br
                            $20

                div.wrapper
                    img(src="img/cokesign.JPG")
                    span.text-content
                        span Coca-Cola
                            br
                            $20

                div.wrapper
                    img(src="img/donttread.JPG")
                    span.text-content
                        span Dont Tread On Me
                            br
                            $20

                div.wrapper
                    img(src="img/feather.JPG")
                    span.text-content
                        span Feather Art
                            br
                            $20

                div.wrapper
                    img(src="img/hanger.JPG")
                    span.text-content
                        span Coat Hanger
                            br
                            $20

                div.wrapper
                    img(src="img/hangerwelcome.JPG")
                    span.text-content
                        span Lantern Hanger
                            br
                            $20

                div.wrapper
                    img(src="img/lantern.JPG")
                    span.text-content
                        span Wall Hanger I
                            br
                            $20

                div.wrapper
                    img(src="img/lanterncover.JPG")
                    span.text-content
                        span Wall Hanger II
                            br
                            $20

                div.wrapper
                    img(src="img/plantholder.JPG")
                    span.text-content
                        span Planter
                            br
                            $20

                div.wrapper
                    img(src="img/skull.JPG")
                    span.text-content
                        span Wall Art
                            br
                            $20

                div.wrapper
                    img(src="img/smith.JPG")
                    span.text-content
                        span Smith & Wesson
                            br
                            $20

                div.wrapper
                    img(src="img/welcome.JPG")
                    span.text-content
                        span Welcome Hanger
                            br
                            $20
                            div.tileblocks.hide-on-med-and-down
                            
                div.wrapper
                    img(src="img/box-hanger.JPG")
                    span.text-content
                        span Window Hanger
                            br
                            $20

                div.wrapper
                    img(src="img/chevrolet.JPG")
                    span.text-content
                        span Chevrolet
                            br
                            $20

                div.wrapper
                    img(src="img/clothspin-hanger.JPG")
                    span.text-content
                        span Clothspin Hanger
                            br
                            $20

                div.wrapper
                    img(src="img/end-table.JPG")
                    span.text-content
                        span End Table
                            br
                            $20

                div.wrapper
                    img(src="img/island.JPG")
                    span.text-content
                        span Island
                            br
                            $20

                div.wrapper
                    img(src="img/lantern-hook.JPG")
                    span.text-content
                        span Feather Art
                            br
                            $20

                div.wrapper
                    img(src="img/large-clothspin.JPG")
                    span.text-content
                        span Large Clothspin Hanger
                            br
                            $20

                div.wrapper
                    img(src="img/metal-feather.JPG")
                    span.text-content
                        span Lantern Hanger
                            br
                            $20
                            
                div.wrapper
                    img(src="img/pool.JPG")
                    span.text-content
                        span Pool Coat Hanger
                            br
                            $20

                div.wrapper
                    img(src="img/ribbon-hanger.JPG")
                    span.text-content
                        span Ribbon Clip Picture Frame
                            br
                            $20

                div.wrapper
                    img(src="img/small-shelf.JPG")
                    span.text-content
                        span Shelf
                            br
                            $20

        footer#contact.page-footer.brown.lighten-2
            div.container
                div.row
                    div.col.l6.s12
                        h5.white-text Here's how you can reach me.
                        p.grey-text.text-lighten-2
                        p.grey-text.text-lighten-2 If you are wanting to hire me, please send me an email and we can start a dialoge.
                    div.col.l4.offset-12.s12
                        h5.white-text Contact
                        ul
                            li.btn-pad
                                a(href="mailto:bubbapalletworks@gmail.com").btn.grey.darken-4 Email
                                    i.material-icons.right email
                            li.btn-pad
                                a(href="https://www.facebook.com/toddbeasley81/?ref=page_internal").btn.grey.darken-4 Facebook
                                    i.material-icons.right
                                        img(src="img/facebook-box.png")
            div.footer-copyright
                div.container.center-align © 2016 Matthew Robertson

    <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
